<!DOCTYPE html>
<html>
<head>
<base href="/" />
<meta charset="UTF-8" />
<title>用户--index</title>
<link href="static/css/style.css" rel="stylesheet" />
</head>
<body>

<!-- 模板使用-> https://www.cnblogs.com/topwill/p/7434955.html -->
      
<table>
	<tr>
		<th>序号</th>
		<th>姓名</th>	
		<th>号码</th>
	</tr>
	<tr th:each="item : ${list}">
		<td th:text="${item.id}"></td>
		<td th:text="${item.name}"></td>
		<td th:text="${item.phone}"></td>
	</tr>
</table>
<hr/>

 返回名为x 的 request参数。（可能有多个值）
<hr/>
<p th:text="${param}"></p>

返回名为x的Session参数
<hr/>
<p th:text="${session}"></p>

 返回名为 servlet context 的参数
<hr/>
<p th:text="${application.static}"></p>

   
<script src="static/js/jquery.min.js"></script>
<script>
$(function(){
	$.get("test/list",function(data){
		console.log(data);
	},"json")
})
</script>
</body>
</html>
